{"swagger":"2.0","info":{"title":"La presente es la documentación de la API REST para habits.ai  ","description":"En esta documentación se encuentran listados los endpoints de comunicacion con la API de habits, De la misma manera se recomianda leer atentamente y hacer uso correcto de los recursos aqui mostrados ","version":"0.0.0.1"},"host":"api.habits.io","produces":["application/json"],"paths":{"/api/user/":{"get":{"x-swagger-router-controller":"user","operationId":"get_user0","tags":["user"],"description":"Con esta ruta se extraen todos los datos del catalogo ","parameters":[{"name":"where[name]","in":"query","description":"Con este parametro podrás filtrar la búsqueda por algun documento, siempre que cumpla con la condición (varias instancias del where)","type":"string","example":"challenge mode","required":false},{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"sort[name]","in":"query","description":"El o los campos por los cuales se va  a ordenar la busqueda, (varias instancias del sort), puede ser ascendente[asc] o descendente[desc] ","type":"string","example":"asc","required":false},{"name":"paginate[limit]","in":"query","description":"El limite de documentos por pagina. debe ir acompañado del otro documento d ela paginación ","type":"integer","example":1,"required":false},{"name":"paginate[page]","in":"query","description":"El numero de la pagina. debe ir acompañado del otro documento d ela paginación ","type":"integer","example":1,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Returns a list of /api/user/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"post":{"x-swagger-router-controller":"user","operationId":"post_user0","tags":["user"],"description":"Con esta ruta se agregan nuevos documentos al catalogo ","parameters":[{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"wellness":1,"tester":false,"steps_goal":[{"points":1,"steps":0}],"test":"","status":"inactive","seven_days":0,"rol":"","points":0,"picture":"http://sitio.com/miimage.jpg","active":true,"old_week":0,"name_first":"","name":"","mail":"","last_name_first":"","last_name":"","lenguage":"es_MX","gender":"","diet":"","create_date":"","cell_phone":"","born_date":"","racha":"","daily":"","conversation":"","conversationStatus":"","chat_bot_room":"","filtros":{"name":"","value":""},"activityUser":"ObjectId","company":"ObjectId","userTest":"ObjectId","pass":""}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Returns a list of /api/user/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/user/updateOrCreate/":{"put":{"x-swagger-router-controller":"user","operationId":"putUOC_user0","tags":["user"],"description":"Con esta ruta se actualizan los elementos por busqueda o se crean ","parameters":[{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion o se creara uno nuevo en caso de no existir.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"where":{"name":"Nombre del elemento a buscar"},"data":{"wellness":1,"tester":false,"steps_goal":[{"points":1,"steps":0}],"test":"","status":"inactive","seven_days":0,"rol":"","points":0,"picture":"http://sitio.com/miimage.jpg","active":true,"old_week":0,"name_first":"","name":"","mail":"","last_name_first":"","last_name":"","lenguage":"es_MX","gender":"","diet":"","create_date":"","cell_phone":"","born_date":"","racha":"","daily":"","conversation":"","conversationStatus":"","chat_bot_room":"","filtros":{"name":"","value":""},"activityUser":"ObjectId","company":"ObjectId","userTest":"ObjectId","pass":""}}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/user/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/user/findAndUpdate/":{"put":{"x-swagger-router-controller":"user","operationId":"putfac_user0","tags":["user"],"description":"Con esta ruta se actualiza el documento por busqueda  ","parameters":[{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion o se creara uno nuevo en caso de no existir.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"query":{"name":"Nombre del elemento a buscar"},"data":{"wellness":1,"tester":false,"steps_goal":[{"points":1,"steps":0}],"test":"","status":"inactive","seven_days":0,"rol":"","points":0,"picture":"http://sitio.com/miimage.jpg","active":true,"old_week":0,"name_first":"","name":"","mail":"","last_name_first":"","last_name":"","lenguage":"es_MX","gender":"","diet":"","create_date":"","cell_phone":"","born_date":"","racha":"","daily":"","conversation":"","conversationStatus":"","chat_bot_room":"","filtros":{"name":"","value":""},"activityUser":"ObjectId","company":"ObjectId","userTest":"ObjectId","pass":""}}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/user/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/user/one/":{"get":{"x-swagger-router-controller":"user","operationId":"getIDuser0","tags":["user"],"description":"Con esta ruta se obtiene un documento por busqueda  ","parameters":[{"name":"where[name]","in":"query","description":"Con este parametro podrás filtrar la búsqueda por algun documento, siempre que cumpla con la condición (varias instancias del where)","type":"string","example":"Español Mexicano","required":false},{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/user/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/user/{id}/":{"get":{"x-swagger-router-controller":"user","operationId":"getid_user0","tags":["user"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/user/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"delete":{"x-swagger-router-controller":"user","operationId":"Delete_user0","tags":["user"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"wellness":1,"tester":false,"steps_goal":[{"points":1,"steps":0}],"test":"","status":"inactive","seven_days":0,"rol":"","points":0,"picture":"http://sitio.com/miimage.jpg","active":true,"old_week":0,"name_first":"","name":"","mail":"","last_name_first":"","last_name":"","lenguage":"es_MX","gender":"","diet":"","create_date":"","cell_phone":"","born_date":"","racha":"","daily":"","conversation":"","conversationStatus":"","chat_bot_room":"","filtros":{"name":"","value":""},"activityUser":"ObjectId","company":"ObjectId","userTest":"ObjectId","pass":""}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/user/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"put":{"x-swagger-router-controller":"user","operationId":"putis_user0","tags":["user"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/user/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/team/":{"get":{"x-swagger-router-controller":"team_for_challenge","operationId":"get_team_for_challenge1","tags":["team_for_challenge"],"description":"Con esta ruta se extraen todos los datos del catalogo ","parameters":[{"name":"where[name]","in":"query","description":"Con este parametro podrás filtrar la búsqueda por algun documento, siempre que cumpla con la condición (varias instancias del where)","type":"string","example":"TeamName","required":false},{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"sort[name]","in":"query","description":"El o los campos por los cuales se va  a ordenar la busqueda, (varias instancias del sort), puede ser ascendente[asc] o descendente[desc] ","type":"string","example":"asc","required":false},{"name":"paginate[limit]","in":"query","description":"El limite de documentos por pagina. debe ir acompañado del otro documento d ela paginación ","type":"integer","example":1,"required":false},{"name":"paginate[page]","in":"query","description":"El numero de la pagina. debe ir acompañado del otro documento d ela paginación ","type":"integer","example":1,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Returns a list of /api/team/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"post":{"x-swagger-router-controller":"team_for_challenge","operationId":"post_team_for_challenge1","tags":["team_for_challenge"],"description":"Con esta ruta se agregan nuevos documentos al catalogo ","parameters":[{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"name":"Nombre del equipo","description":"Pequeña descripcion del elemento","picture":"http://miimagen.jpg","goals_by_team":1,"winner":"ObjectID(9RF343vd3b7cdb0)","company":"ObjectID(9RF343vd3b7cdb0)","participants":["ObjectID(9RF343vd3b7cdb0)","ObjectID(9RF343vd3b7cdb0)"],"accept_participants":["ObjectID(9RF343vd3b7cdb0)","ObjectID(9RF343vd3b7cdb0)"]}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Returns a list of /api/team/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/team/updateOrCreate/":{"put":{"x-swagger-router-controller":"team_for_challenge","operationId":"putUOC_team_for_challenge1","tags":["team_for_challenge"],"description":"Con esta ruta se actualizan los elementos por busqueda o se crean ","parameters":[{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion o se creara uno nuevo en caso de no existir.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"where":{"name":"Nombre del elemento a buscar"},"data":{"name":"Nombre del equipo","description":"Pequeña descripcion del elemento","picture":"http://miimagen.jpg","goals_by_team":1,"winner":"ObjectID(9RF343vd3b7cdb0)","company":"ObjectID(9RF343vd3b7cdb0)","participants":["ObjectID(9RF343vd3b7cdb0)","ObjectID(9RF343vd3b7cdb0)"],"accept_participants":["ObjectID(9RF343vd3b7cdb0)","ObjectID(9RF343vd3b7cdb0)"]}}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/team/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/team/findAndUpdate/":{"put":{"x-swagger-router-controller":"team_for_challenge","operationId":"putfac_team_for_challenge1","tags":["team_for_challenge"],"description":"Con esta ruta se actualiza el documento por busqueda  ","parameters":[{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion o se creara uno nuevo en caso de no existir.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"query":{"name":"Nombre del elemento a buscar"},"data":{"name":"Nombre del equipo","description":"Pequeña descripcion del elemento","picture":"http://miimagen.jpg","goals_by_team":1,"winner":"ObjectID(9RF343vd3b7cdb0)","company":"ObjectID(9RF343vd3b7cdb0)","participants":["ObjectID(9RF343vd3b7cdb0)","ObjectID(9RF343vd3b7cdb0)"],"accept_participants":["ObjectID(9RF343vd3b7cdb0)","ObjectID(9RF343vd3b7cdb0)"]}}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/team/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/team/one/":{"get":{"x-swagger-router-controller":"team_for_challenge","operationId":"getIDteam_for_challenge1","tags":["team_for_challenge"],"description":"Con esta ruta se obtiene un documento por busqueda  ","parameters":[{"name":"where[name]","in":"query","description":"Con este parametro podrás filtrar la búsqueda por algun documento, siempre que cumpla con la condición (varias instancias del where)","type":"string","example":"TeamName","required":false},{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/team/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/team/{id}/":{"get":{"x-swagger-router-controller":"team_for_challenge","operationId":"getid_team_for_challenge1","tags":["team_for_challenge"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/team/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"delete":{"x-swagger-router-controller":"team_for_challenge","operationId":"Delete_team_for_challenge1","tags":["team_for_challenge"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/team/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"put":{"x-swagger-router-controller":"team_for_challenge","operationId":"putis_team_for_challenge1","tags":["team_for_challenge"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/team/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/language/":{"get":{"x-swagger-router-controller":"language_i_18_n","operationId":"get_language_i_18_n2","tags":["language_i_18_n"],"description":"Con esta ruta se extraen todos los datos del catalogo ","parameters":[{"name":"where[name]","in":"query","description":"Con este parametro podrás filtrar la búsqueda por algun documento, siempre que cumpla con la condición (varias instancias del where)","type":"string","example":"TeamName","required":false},{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"sort[name]","in":"query","description":"El o los campos por los cuales se va  a ordenar la busqueda, (varias instancias del sort), puede ser ascendente[asc] o descendente[desc] ","type":"string","example":"asc","required":false},{"name":"paginate[limit]","in":"query","description":"El limite de documentos por pagina. debe ir acompañado del otro documento d ela paginación ","type":"integer","example":1,"required":false},{"name":"paginate[page]","in":"query","description":"El numero de la pagina. debe ir acompañado del otro documento d ela paginación ","type":"integer","example":1,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Returns a list of /api/language/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"post":{"x-swagger-router-controller":"language_i_18_n","operationId":"post_language_i_18_n2","tags":["language_i_18_n"],"description":"Con esta ruta se agregan nuevos documentos al catalogo ","parameters":[{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"name":"Español Mexico","description":"Español mexicano","utf8_flag":"🇲🇽","iso_language_code":"es_MX"}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Returns a list of /api/language/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/language/updateOrCreate/":{"put":{"x-swagger-router-controller":"language_i_18_n","operationId":"putUOC_language_i_18_n2","tags":["language_i_18_n"],"description":"Con esta ruta se actualizan los elementos por busqueda o se crean ","parameters":[{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion o se creara uno nuevo en caso de no existir.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"where":{"name":"Nombre del elemento a buscar"},"data":{"name":"Español Mexico","description":"Español mexicano","utf8_flag":"🇲🇽","iso_language_code":"es_MX"}}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/language/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/language/findAndUpdate/":{"put":{"x-swagger-router-controller":"language_i_18_n","operationId":"putfac_language_i_18_n2","tags":["language_i_18_n"],"description":"Con esta ruta se actualiza el documento por busqueda  ","parameters":[{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion o se creara uno nuevo en caso de no existir.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"query":{"name":"Nombre del elemento a buscar"},"data":{"name":"Español Mexico","description":"Español mexicano","utf8_flag":"🇲🇽","iso_language_code":"es_MX"}}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/language/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/language/one/":{"get":{"x-swagger-router-controller":"language_i_18_n","operationId":"getIDlanguage_i_18_n2","tags":["language_i_18_n"],"description":"Con esta ruta se obtiene un documento por busqueda  ","parameters":[{"name":"where[name]","in":"query","description":"Con este parametro podrás filtrar la búsqueda por algun documento, siempre que cumpla con la condición (varias instancias del where)","type":"string","example":"Español Mexicano","required":false},{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/language/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/language/{id}/":{"get":{"x-swagger-router-controller":"language_i_18_n","operationId":"getid_language_i_18_n2","tags":["language_i_18_n"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/language/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"delete":{"x-swagger-router-controller":"language_i_18_n","operationId":"Delete_language_i_18_n2","tags":["language_i_18_n"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/language/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"put":{"x-swagger-router-controller":"language_i_18_n","operationId":"putis_language_i_18_n2","tags":["language_i_18_n"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/language/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/language_elements/":{"get":{"x-swagger-router-controller":"language_elements_i_18_n","operationId":"get_language_elements_i_18_n3","tags":["language_elements_i_18_n"],"description":"Con esta ruta se extraen todos los datos del catalogo ","parameters":[{"name":"where[name]","in":"query","description":"Con este parametro podrás filtrar la búsqueda por algun documento, siempre que cumpla con la condición (varias instancias del where)","type":"string","example":"TeamName","required":false},{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"sort[name]","in":"query","description":"El o los campos por los cuales se va  a ordenar la busqueda, (varias instancias del sort), puede ser ascendente[asc] o descendente[desc] ","type":"string","example":"asc","required":false},{"name":"paginate[limit]","in":"query","description":"El limite de documentos por pagina. debe ir acompañado del otro documento d ela paginación ","type":"integer","example":1,"required":false},{"name":"paginate[page]","in":"query","description":"El numero de la pagina. debe ir acompañado del otro documento d ela paginación ","type":"integer","example":1,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Returns a list of /api/language_elements/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"post":{"x-swagger-router-controller":"language_elements_i_18_n","operationId":"post_language_elements_i_18_n3","tags":["language_elements_i_18_n"],"description":"Con esta ruta se agregan nuevos documentos al catalogo ","parameters":[{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"language":"ObjectID(df3RFG50832bTs34)","reference":"internal_server_error","text":"internal server error"}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Returns a list of /api/language_elements/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/language_elements/updateOrCreate/":{"put":{"x-swagger-router-controller":"language_elements_i_18_n","operationId":"putUOC_language_elements_i_18_n3","tags":["language_elements_i_18_n"],"description":"Con esta ruta se actualizan los elementos por busqueda o se crean ","parameters":[{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion o se creara uno nuevo en caso de no existir.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"where":{"name":"Nombre del elemento a buscar"},"data":{"language":"ObjectID(df3RFG50832bTs34)","reference":"internal_server_error","text":"internal server error"}}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/language_elements/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/language_elements/findAndUpdate/":{"put":{"x-swagger-router-controller":"language_elements_i_18_n","operationId":"putfac_language_elements_i_18_n3","tags":["language_elements_i_18_n"],"description":"Con esta ruta se actualiza el documento por busqueda  ","parameters":[{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion o se creara uno nuevo en caso de no existir.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"query":{"name":"Nombre del elemento a buscar"},"data":{"language":"ObjectID(df3RFG50832bTs34)","reference":"internal_server_error","text":"internal server error"}}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/language_elements/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/language_elements/one/":{"get":{"x-swagger-router-controller":"language_elements_i_18_n","operationId":"getIDlanguage_elements_i_18_n3","tags":["language_elements_i_18_n"],"description":"Con esta ruta se obtiene un documento por busqueda  ","parameters":[{"name":"where[name]","in":"query","description":"Con este parametro podrás filtrar la búsqueda por algun documento, siempre que cumpla con la condición (varias instancias del where)","type":"string","example":"Español Mexicano","required":false},{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/language_elements/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/language_elements/{id}/":{"get":{"x-swagger-router-controller":"language_elements_i_18_n","operationId":"getid_language_elements_i_18_n3","tags":["language_elements_i_18_n"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/language_elements/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"delete":{"x-swagger-router-controller":"language_elements_i_18_n","operationId":"Delete_language_elements_i_18_n3","tags":["language_elements_i_18_n"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/language_elements/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"put":{"x-swagger-router-controller":"language_elements_i_18_n","operationId":"putis_language_elements_i_18_n3","tags":["language_elements_i_18_n"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/language_elements/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/category/challenge/":{"get":{"x-swagger-router-controller":"category_of_challenges","operationId":"get_category_of_challenges4","tags":["category_of_challenges"],"description":"Con esta ruta se extraen todos los datos del catalogo ","parameters":[{"name":"where[name]","in":"query","description":"Con este parametro podrás filtrar la búsqueda por algun documento, siempre que cumpla con la condición (varias instancias del where)","type":"string","example":"TeamName","required":false},{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"sort[name]","in":"query","description":"El o los campos por los cuales se va  a ordenar la busqueda, (varias instancias del sort), puede ser ascendente[asc] o descendente[desc] ","type":"string","example":"asc","required":false},{"name":"paginate[limit]","in":"query","description":"El limite de documentos por pagina. debe ir acompañado del otro documento d ela paginación ","type":"integer","example":1,"required":false},{"name":"paginate[page]","in":"query","description":"El numero de la pagina. debe ir acompañado del otro documento d ela paginación ","type":"integer","example":1,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Returns a list of /api/category/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"post":{"x-swagger-router-controller":"category_of_challenges","operationId":"post_category_of_challenges4","tags":["category_of_challenges"],"description":"Con esta ruta se agregan nuevos documentos al catalogo ","parameters":[{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"description":"internal_server_error","name":"internal server error"}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Returns a list of /api/category/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/category/challenge/updateOrCreate/":{"put":{"x-swagger-router-controller":"category_of_challenges","operationId":"putUOC_category_of_challenges4","tags":["category_of_challenges"],"description":"Con esta ruta se actualizan los elementos por busqueda o se crean ","parameters":[{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion o se creara uno nuevo en caso de no existir.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"where":{"name":"Nombre del elemento a buscar"},"data":{"description":"internal_server_error","name":"internal server error"}}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/category/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/category/challenge/findAndUpdate/":{"put":{"x-swagger-router-controller":"category_of_challenges","operationId":"putfac_category_of_challenges4","tags":["category_of_challenges"],"description":"Con esta ruta se actualiza el documento por busqueda  ","parameters":[{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion o se creara uno nuevo en caso de no existir.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"query":{"name":"Nombre del elemento a buscar"},"data":{"description":"internal_server_error","name":"internal server error"}}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/category/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/category/challenge/one/":{"get":{"x-swagger-router-controller":"category_of_challenges","operationId":"getIDcategory_of_challenges4","tags":["category_of_challenges"],"description":"Con esta ruta se obtiene un documento por busqueda  ","parameters":[{"name":"where[name]","in":"query","description":"Con este parametro podrás filtrar la búsqueda por algun documento, siempre que cumpla con la condición (varias instancias del where)","type":"string","example":"Español Mexicano","required":false},{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/category/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/category/challenge/{id}/":{"get":{"x-swagger-router-controller":"category_of_challenges","operationId":"getid_category_of_challenges4","tags":["category_of_challenges"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/category/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"delete":{"x-swagger-router-controller":"category_of_challenges","operationId":"Delete_category_of_challenges4","tags":["category_of_challenges"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/category/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"put":{"x-swagger-router-controller":"category_of_challenges","operationId":"putis_category_of_challenges4","tags":["category_of_challenges"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/category/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/kind/challenge/":{"get":{"x-swagger-router-controller":"kind_of_challenges","operationId":"get_kind_of_challenges5","tags":["kind_of_challenges"],"description":"Con esta ruta se extraen todos los datos del catalogo ","parameters":[{"name":"where[name]","in":"query","description":"Con este parametro podrás filtrar la búsqueda por algun documento, siempre que cumpla con la condición (varias instancias del where)","type":"string","example":"KindName","required":false},{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"sort[name]","in":"query","description":"El o los campos por los cuales se va  a ordenar la busqueda, (varias instancias del sort), puede ser ascendente[asc] o descendente[desc] ","type":"string","example":"asc","required":false},{"name":"paginate[limit]","in":"query","description":"El limite de documentos por pagina. debe ir acompañado del otro documento d ela paginación ","type":"integer","example":1,"required":false},{"name":"paginate[page]","in":"query","description":"El numero de la pagina. debe ir acompañado del otro documento d ela paginación ","type":"integer","example":1,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Returns a list of /api/kind/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"post":{"x-swagger-router-controller":"kind_of_challenges","operationId":"post_kind_of_challenges5","tags":["kind_of_challenges"],"description":"Con esta ruta se agregan nuevos documentos al catalogo ","parameters":[{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"description":"tipo del elemento","name":"individual","key":"reto_individual"}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Returns a list of /api/kind/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/kind/challenge/updateOrCreate/":{"put":{"x-swagger-router-controller":"kind_of_challenges","operationId":"putUOC_kind_of_challenges5","tags":["kind_of_challenges"],"description":"Con esta ruta se actualizan los elementos por busqueda o se crean ","parameters":[{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion o se creara uno nuevo en caso de no existir.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"where":{"name":"Nombre del elemento a buscar"},"data":{"description":"tipo del elemento","name":"individual","key":"reto_individual"}}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/kind/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/kind/challenge/findAndUpdate/":{"put":{"x-swagger-router-controller":"kind_of_challenges","operationId":"putfac_kind_of_challenges5","tags":["kind_of_challenges"],"description":"Con esta ruta se actualiza el documento por busqueda  ","parameters":[{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"JSON OBJECT","description":"Con este objeto insertaremos un nuevo documento en la coleccion o se creara uno nuevo en caso de no existir.","in":"body","type":"object","collectionFormat":"multi","items":{"type":"object"},"required":true,"example":{"query":{"name":"Nombre del elemento a buscar"},"data":{"description":"tipo del elemento","name":"individual","key":"reto_individual"}}},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/kind/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/kind/challenge/one/":{"get":{"x-swagger-router-controller":"kind_of_challenges","operationId":"getIDkind_of_challenges5","tags":["kind_of_challenges"],"description":"Con esta ruta se obtiene un documento por busqueda  ","parameters":[{"name":"where[name]","in":"query","description":"Con este parametro podrás filtrar la búsqueda por algun documento, siempre que cumpla con la condición (varias instancias del where)","type":"string","example":"Español Mexicano","required":false},{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/kind/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/kind/challenge/{id}/":{"get":{"x-swagger-router-controller":"kind_of_challenges","operationId":"getid_kind_of_challenges5","tags":["kind_of_challenges"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/kind/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"delete":{"x-swagger-router-controller":"kind_of_challenges","operationId":"Delete_kind_of_challenges5","tags":["kind_of_challenges"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/kind/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}},"put":{"x-swagger-router-controller":"kind_of_challenges","operationId":"putis_kind_of_challenges5","tags":["kind_of_challenges"],"description":"Con esta ruta se obtiene un documento por id  ","parameters":[{"name":"id","in":"path","description":"El id del documento  ","type":"string","example":"P028esh37dwhSDDS3e","required":true},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Regresa un elmento de /api/kind/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"not_found","global":{"es_MX":"Elemento no localizado ","pt_BR":"Elemento não localizado","en_US":"Not Found!"}}}},"500":{"description":"Error","examples":{"application/json":{"code":500,"message":"Internal server error","success":false,"error":"ERROR OBJECT","i18n":"internal_server_error","global":{"es_MX":"Error interno del servidor"}}}}}}},"/api/challenge/":{"get":{"x-swagger-router-controller":"challenges","operationId":"get_challenges6","tags":["challenges"],"description":"Con esta ruta se extraen todos los datos del catalogo ","parameters":[{"name":"where[name]","in":"query","description":"Con este parametro podrás filtrar la búsqueda por algun documento, siempre que cumpla con la condición (varias instancias del where)","type":"string","example":"challenge mode","required":false},{"name":"select","in":"query","description":"Con este documento  podrás seleccionar los campos a devolver, (separado por comas)","type":"string","example":"description,name","required":false},{"name":"depopulate","in":"query","description":"retira la populacion de los campos hijo ","type":"boolean","example":true,"required":false},{"name":"sort[name]","in":"query","description":"El o los campos por los cuales se va  a ordenar la busqueda, (varias instancias del sort), puede ser ascendente[asc] o descendente[desc] ","type":"string","example":"asc","required":false},{"name":"paginate[limit]","in":"query","description":"El limite de documentos por pagina. debe ir acompañado del otro documento d ela paginación ","type":"integer","example":1,"required":false},{"name":"paginate[page]","in":"query","description":"El numero de la pagina. debe ir acompañado del otro documento d ela paginación ","type":"integer","example":1,"required":false},{"name":"authorization","in":"header","type":"string","description":"El token de autenticacion es utilizado para acceder a los recursos del servidor, para obtenerlo hay que acceder al login","required":true}],"responses":{"200":{"description":"Returns a list of /api/challenge/","examples":{"application/json":{"code":200,"message":"Ok","success":true,"i18n":"ok","global":{"es_MX":"Exitoso!","pt_BR":"Bem sucedido!","en_US":"Success!"}}}},"403":{"description":"Error","examples":{"application/json":{"code":403,"message":"Forbidden","success":false,"error":"ERROR OBJECT","i18n":"forbbiden","global":{"es_MX":"Prohibido. No tiene permiso para acceder a este recurso ","pt_BR":"Acesso proibido. Você não tem acesso a este recurso","en_US":"Forbidden!"}}}},"404":{"description":"Error","examples":{"application/json":{"code":404,"message":"Not found","success":false,"error":"ERROR OBJECT","i18n":"no
[...]
